@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
  display: flex;
  flex-direction: column;
}
.main-header {
  background: #ffe17f;
  color: #000000;
  width: 1160px;
height: 300px;
margin: 0 auto;
display: flex;
flex-direction: column;
}
.navigation-link {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.navigation-element,
.footer-navigation-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.tab-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.option {
  font-size: 16px;
}
.option-value {
  font-size: 36px;
  line-height: 30px;
}
.catalog-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 0;
  background-color: transparent;
}
.order {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 47px 31px;
}
.auto-delivery{
  background-image: url("../img/delivery1.svg");
  background-repeat: no-repeat;
  width: 125px;
height: 100px;
background-color: #FFE17F;
}
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}
.contacts-address-text {
  font-style: normal;
}
.contacts-phone {
  font-style: normal;
  color: #000;
}
.page-footer {
  background-color: #444444;
}
.footer-navigation-link,
.footer-contacts-address,
.footer-contacts-phone {
  color: #ffffff;
}
.footer-contacts-phone {
  text-decoration: none;
}
.delivery-company-item {
  font-weight: 700;
  font-size: 18px;
}
.services,
.advantage,
.newsletter {
  background-color: #f0f0f0;
}
.catalog-list{
  width: 1160px;
height: 253px;
margin: 0 auto;
}
.catalog-link {
  display: block;
  height: 100%;
}
.catalog-item {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  display: inline-block;
  font-family: Raleway;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.virtual {
  background-image: url("../img/category-1.svg");
  background-size: 160px 160px;
}
.monopods {
  background-image: url("../img/category-2.svg");
  background-size: 160px 160px;
}
.cameras {
  background-image: url("../img/category-3.svg");
  background-size: 160px 160px;
}
.fitness {
  background-image: url("../img/category-4.svg");
  background-size: 160px 160px;
}
.watch {
  background-image: url("../img/category-5.svg");
  background-size: 160px 160px;
}
.quadrocopters {
  background-image: url("../img/category-6.svg");
  background-size: 160px 160px;
}
.delivery {
  background-image: url("../img/illustration-delivery.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 180px 160px;
}
.garanty {
  background-image: url("../img/illustration-warranty.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 180px 160px;
}
.credit {
  background-image: url("../img/illustration-credit.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 180px 160px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}
.catalog-filter,
.sorting-type,
.pagination {
  background-color: #ebebeb;
}
.products-filter {
  background-color: #dcdcdc;
}

.products-filter,
.sorting-type {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.control {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.product-card-name {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
}
.product-card-price {
  line-height: 21px;
  font-weight: 400;
}
.pagination-show-more,
.pagination-prev,
.pagination-next {
  font-family: Raleway;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.pagination-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}
.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.3;
}
.navigation{
  display: flex;
  justify-content: space-between;
  width: 1075px;
height: 21px;
flex-direction: column;
}
.navigation-header{
  display: flex;
  width: 1075px;
height: 21px;
align-items: center;
justify-content: space-between;
outline: 5px solid rgba(255, 99, 78, 0.5);

}
.navigation-user{
  display: flex;
  flex-grow: 2;

}

  
.navigation-services{
  display: flex;
  justify-content: space-around;
  width: 1041px;
height: 50px;
align-items: center;
}

.bestsellers{
display: flex;
width: 1161px;
margin: 0 auto;
justify-content: space-between;
}
.services{display: flex;
  width: 1440px;
margin: 0 auto;
justify-content: space-around;
align-items: flex-start;}
.advantage{display: flex;
  justify-content: space-between;
align-items:center;
width: 1035px;
margin:  0 auto;
margin-top: 90px;}
.index-columns{
display: flex;
margin: 0 auto;
width: 1120px;
justify-content: space-between;
align-items: center;}
.newsletter{
  display: flex;
  width: 1440px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.page-footer{display: flex;
  align-items: center;
  width: 1440px;
  height: 321px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer-contacts{
  
margin-left: 139px;
}
.footer-navigation-services{
  display: flex;
  margin-right: 58px;
  width: 444px;
  height: 20px;
  justify-content: space-around;
}
.footer-social{
  margin-left: 645px;
  margin-right: 392px;
}