@font-face {
  font-family: Raleway;
  font-style:normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style:normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style:normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style:normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
body{
  font-family: Rubik,sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.main-header{
  background: #FFE17F;
  color: #000000;
}
.navigation-link{
  color: #000000;
  font-size: 16px;
line-height: 19px;
}
.navigation-elements{
  font-family: Raleway,sans-serif;
  font-weight: 800;
font-size: 18px;
line-height: 21px;
}

.catalog-item{
  background-color:  #FFE17F;
  width: 160px;
height: 160px;
  display: inline-block;}



.delivery{
  background-image: url("../img/illustration-delivery.png");
  background-repeat: no-repeat;
background-position: right;
background-size: 180px 160px;
}
.garanty{
  background-image: url("../img/illustration-warranty.svg");
  background-repeat: no-repeat;
background-position: right;
background-size: 180px 160px;
}
.credit{
  background-image: url("../img/illustration-credit.svg");
  background-repeat: no-repeat;
background-position: right;
background-size: 180px 160px;
}
